<h1 class="center">Let's start it!</h1>
<div class="center">
    <div class="vertical">
        <div>Speed (ms)</div>
        <input type="number" min="1" [(ngModel)]="delay">
    </div>
    <button type="button" (click)="onStart(field)" [disabled]="gameIsRunning">Start</button>
    <div class="vertical">
        <div>User : Comp</div>
        <span>{{ userCounter + ' : ' + compCounter }}</span>
    </div>
</div>
<div #field class="field center" (click)="onFieldClick($event.target)">
    <div class="cell" *ngFor="let cell of cells"></div>
</div>

<div class="modal" *ngIf="isModal">
    <span (click)="closeModal()">&times;</span>
    <h2>{{ modalData?.title }}</h2>
    <p>{{ modalData?.text }}</p>
</div>